<h1>Review for <%= @course[:title] %></h1>

<form action="/courses/<%= @course[:id] %>/reviews/create" method="post">
  <div class="form-group">
    <label>Would you recommend?</label>
    <select class="form-control" name="recommend">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>

  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>